.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-links {
  display: flex;
  align-items: center;
  width: 25vw;
}

.home-links img {
  height: 20vw;
  width: 35vw;
  /* overflow-y: hidden;
  margin-bottom: -5vw; */
}

ul {
  list-style: none;
}

.home-links li {
  text-decoration: none;
  color: azure;
  font-size: larger;
}

header {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: deepskyblue;
  flex-direction: row;
  justify-content: space-evenly;
}

header img {
  align-items: center;
  width: 2vw;
  height: 2vw;
}

.beer-image {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 14vw;
  width: 4vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-item-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.list-item-box {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: #282c34 solid 1px;
}
